.post_card {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    width: 550px;
    min-height: 100px;
    padding: 15px;
    margin-bottom: 20px
}

.post_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post_top .edit a {
    text-decoration: none;
    color: black;
}

.user_meta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_meta h4 {
    margin-left: 10px;
}

.user_meta img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post_body img {
    width: 100%;
}

.post_body p {
    font-size: 20px;
}

.post_btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 12px
}

.like_div {
    display: flex;
    align-items: center;
}

.like_div b {
    margin-left: 10px;
    font-size: 14px;
}

.comment_div b {
    font-size: 14px;
}

.comment_section {
    font-size: 14px;
    margin-top: 10px
}

.comment_section form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment_section form .comment_input {
    width: 92%;
    border: none;
}

.comment_input:focus {
    outline: none;
}

.comment_btn {
    margin-left: 10px;
}

.post_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}